@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Facturacion</h1>
    <p class="lead">Version 0.2</p> 
    <p class="text-info">
    Integrantes del proyecto:
        Vladimir Pena
        Emilio Medrano
        Daniel Sanchez
        Pedro Sierra
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestion de empleados</h2>
        <p>
            Crud
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Gestion de clientes</h2>
        <p>Crud</p>
       
    </div>
    <div class="col-md-4">
        <h2>Gestion de articulos</h2>
        <p>Crud.</p>
        
    </div>
</div>